*, body, nav{
	scroll-behavior: smooth;
	margin : 5px;
	background-color: grey;
	color : white;
}
#Home {
	/*position : relative;*/
	/*top: 100px;*/
	text-align : center
}
.set {
	float : left;
	border-style: solid;
	border-width: 1px;
	border-color : grey;
	width: 450px;
	height: 450px;
}
.yo {
	font-size : 30px
}
.section {
	color: black;
	text-align: center;
	font-size : 40px;
	font-weight: 700;
	margin : 20px;
	border : 3px white dotted;
}
.section:hover{
	border : 3px white ;
	border-style: groove;
}
#Skills {
	/*background-color: black;*/
	height: 1200px;
}
/*for desktop*/
@media only screen and (min-width: 1200px){ 
	*,body {
		/*background-color : magenta;*/
	}
	#Skills {
	/*background-color: black;*/
	height: 800px;
	}	
}
#top {
	/*position : fixed;*/
	width : 100%;
	/*border : 2px black solid;*/
	text-align: center;
	border-bottom: 5px solid darkgrey;
}
.proj {
	text-align: center;
	text-decoration: underline;
}