*{
	background-color: black;
	text-align: center;
	color: whitesmoke;
}
.main {
	
}
.hey {
	color: white;
}
.boi {
	position: fixed;
	width: 100%;
	font-size: 25px;
}
.navbar-nav > li {
	margin-left: 30px;
}